<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zj.play">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="m">

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".view.share.add.AddShareActivity" />
        <activity android:name=".view.share.ShareActivity" />
        <activity android:name=".view.profile.history.BrowseHistoryActivity" />
        <activity
            android:name=".view.profile.user.UserActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize" />
        <activity
            android:name=".view.collect.CollectListActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize" />
        <activity
            android:name=".view.rank.user.UserRankActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize" />
        <activity
            android:name=".view.account.LoginActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize" />
        <activity
            android:name=".view.rank.list.RankActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize" />
        <activity
            android:name=".view.article.ArticleActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.home.search.article.ArticleListActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize" />
        <activity
            android:name=".view.home.search.SearchActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize" />
        <activity
            android:name=".view.main.MainActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize" />
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize"
            android:theme="@style/AppTheme.NoActionBars">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>